.dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #c8deff;
    justify-content: center;
  }
  
  .chart-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 45%;
  }
  
  .chart-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .chart-container {
      width: 100%;
    }
  }
  